@import 'tailwindcss';

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	background-color: #182128;
	color: #fff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer utilities {
	.blurred {
		filter: blur(2px) opacity(40%);
	}
}
